extends baseEmail

block content
  p مرحبا بك #{firstName},
  p هل نسيت كلمة المرور الخاصه بك ؟
  p يمكنك إعادة تعيين كلمة مرورك من هنا 
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') إعادة تعيين كلمة المرور
  p إذا كنت تتذكر كلمة مرورك فتجاهل هذا البريد الإلكترونى
