extends baseEmail

block content
  p ูุฑุญุจุง ุจู #{firstName},
  p ูุฑุญุจุง ุจู ูู #{website} ูุณุนุฏูุง ูุฌูุฏู ูุนูุง  ๐๐ 
  p ูุญู ุฌููุนูุง ุนุงุฆูุฉ ูุนุง ููุง ุ ูุฐุง ุชุฃูุฏ ูู ุชุญููู ุตูุฑุฉ ุงููุณุชุฎุฏู ุงูุฎุงุตุฉ ุจู ุญุชู ูุชุนุฑู ุนููู ุจุดูู ุฃูุถู ููููุงู!
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') ูู ุจุชุญููู ุตูุฑุชู
  p ุฅุฐุง ููุช ุจุญุงุฌุฉ ุฅูู ุฃู ูุณุงุนุฏุฉ ุจุฎุตูุต ุงู ูุนูููุงุช ุ ููุง ุชุชุฑุฏุฏ ูู ุงูุงุชุตุงู ุจูุง
  p #{manager}