.navbar-custome-calsss {
  color: #6e6b7b;
}

.lang-name {
  margin-left: 5px;
  color: #6e6b7b;
}

// @media (max-width: 1199.98px) {
//   .vertical-layout.vertical-menu-modern.menu-collapsed
//     .header-navbar.floating-nav {
//     width: calc(100vw - (100vw - 100%) - calc(2rem * 2)) !important;
//   }
// }
