@import "@core/scss/vue/libs/vue-select.scss";

.cursor-pointer {
  cursor: pointer;
}

.auth-wrapper {
  .brand-logo {
    width: 185px;
    img {
      width: 60px;
    }
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: #7367f0;
  background-color: rgba(115, 103, 240, 0.12);
}

.dark-mode-text {
  color: #1e3851 !important;
}

.light-mode-text {
  color: #fff !important;
}

.customise-table {
  .table {
    tr {
      td {
        // padding: 0 !important;
        position: relative;
        .table-link {
          color: unset !important;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          // padding: 1rem;
          &:hover {
            color: unset !important;
          }
        }
      }
    }
  }
}
