.arabic-dir {
  direction: rtl;
  body {
    direction: rtl;
    .vertical-layout {
      direction: rtl;
      .navbar {
        right: unset;
        left: 0;
        .navbar-container {
          .navbar-nav {
            margin-right: auto !important;
            margin-left: unset !important;
            padding: 0;
            .nav-item {
              .dropdown-menu {
                li {
                  text-align: right !important;
                  .lang-name {
                    margin-right: 5px;
                    margin-left: unset;
                  }
                }
              }
              .dropdown-user {
                .dropdown-user-link {
                  .user-nav {
                    margin-left: 0.8rem;
                    margin-right: unset;
                    .user-name {
                      margin-left: unset;
                    }
                  }
                }
                .dropdown-menu {
                  .custom-class {
                    margin-left: 0.5rem;
                    margin-right: unset;
                  }
                }
              }
            }
          }
        }
      }
      .main-menu {
        .navbar-header {
          .nav {
            .nav-item {
              .navbar-brand {
                .brand-text {
                  padding-left: unset;
                  padding-right: 1rem;
                }
              }
            }
          }
        }
        .main-menu-content {
          .navigation {
            .nav-item {
              .svg-inline--fa {
                margin-left: 1.1rem;
                margin-right: unset;
              }
            }
            .navigation-header {
              text-align: right;
              margin-right: 2.2rem;
              margin-left: unset;
            }
            .nav-item.has-sub {
              a {
                &::after {
                  left: 20px !important;
                  right: unset !important;
                  background-image: url(/img/chevron-left.svg) !important;
                }
              }
              .menu-content {
                .nav-item {
                  .custom-class {
                    margin-left: 1.45rem;
                    margin-right: unset;
                  }
                }
              }
            }
          }
        }
      }
      .app-content {
        margin-right: 260px;
        margin-left: unset;
        text-align: right;
      }
      .card-body {
        .congratulation-medal {
          right: unset !important;
          left: 37px !important;
        }
      }
      .footer {
        margin-right: 260px;
        margin-left: unset !important;
        text-align: right !important;
        .clearfix {
          display: flex;
          justify-content: space-between;
          &::after {
            content: unset !important;
          }
        }
      }
    }
    .menu-collapsed {
      .app-content {
        margin-right: 80px;
        margin-left: unset !important;
      }
      .footer {
        margin-right: 80px;
        margin-left: unset !important;
      }
    }
    .auth-wrapper {
      .brand-logo {
        left: unset;
        right: 2rem;
        width: 185px;
        img {
          width: 60px;
        }
      }
      .auth-bg {
        text-align: right;
        .feather-help-circle {
          right: unset !important;
          left: 10px !important;
        }
      }
      #login-password {
        padding-right: 1rem !important;
        padding-left: 0 !important;
        border-right: unset;
        border-right: 1px solid #d8d6de;
        border-left: unset;
        border-top-right-radius: 0.357rem !important;
        border-bottom-right-radius: 0.357rem !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
      .input-group-append {
        .input-group-text {
          border-left: 1px solid #d8d6de;
          border-right: unset;
          border-top-left-radius: 0.357rem !important;
          border-bottom-left-radius: 0.357rem !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }
    .pagination {
      .page-item {
        .page-link {
          border-radius: 5rem !important;
        }
      }
    }
  }
  .mr-auto {
    margin-left: auto !important;
    margin-right: unset !important;
  }

  .ml-1,
  .mx-1 {
    margin-left: unset !important;
    margin-right: 1rem !important;
  }

  .mr-2,
  .mx-2 {
    margin-right: unset !important;
    margin-left: 1.5rem !important;
  }

  .mr-50,
  .mx-50 {
    margin-right: unset !important;
    margin-left: 0.5rem !important;
  }

  .ml-50,
  .mx-50 {
    margin-left: unset !important;
    margin-right: 0.5rem !important;
  }

  .ms-2 {
    margin-left: unset !important;
    margin-right: 0.5rem !important;
  }

  @media (min-width: 1200px) {
    .ml-xl-5,
    .mx-xl-5 {
      margin-left: unset !important;
      margin-right: 4rem !important;
    }
  }

  @media (min-width: 1200px) {
    .mr-xl-5,
    .mx-xl-5 {
      margin-right: unset !important;
      margin-left: 4rem !important;
    }
  }
}
